@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --purple: #892a92;
  --purple2: #70217a;
  --white: #f6d3fd;
  --height: 222px;
  --width: 350px;
  --font: "Consolas", monospaced;
  --masterFont: "Raleway";
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #c2e59c;
  background: -webkit-gradient(linear, left top, right top, from(#64b3f4), to(#c2e59c));
  background: -webkit-linear-gradient(left, #64b3f4, #c2e59c);
  background: -o-linear-gradient(left, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c);
}

.card {
  --heightCalc: - calc((var(--height) / 2) - 10px);
  --widthCalc: calc(var(--width) / 2);
  height: var(--height);
  width: var(--width);
  min-width: var(--width);
  background: -webkit-gradient(linear, left top, right top, from(var(--purple)), to(var(--purple2)));
  background: -webkit-linear-gradient(left, var(--purple), var(--purple2));
  background: -o-linear-gradient(left, var(--purple), var(--purple2));
  background: linear-gradient(90deg, var(--purple), var(--purple2));
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  position: relative;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.6));
  -webkit-transform: translateY(calc(50% - 10px));
      -ms-transform: translateY(calc(50% - 10px));
          transform: translateY(calc(50% - 10px));
}

.card__figure {
  position: relative;
  height: 40px;
  margin: 0;
}

.card__figure::after {
  content: "PLATINUM";
  font-size: 0.45em;
  letter-spacing: 4px;
  color: var(--white);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: calc(-100% - 15px);
}

.card__figure--logo {
  --widthLogo: 130px;
  width: var(--widthLogo);
  position: absolute;
  right: 50%;
  -webkit-transform: translate(calc(var(--widthLogo) / 2), 20px);
      -ms-transform: translate(calc(var(--widthLogo) / 2), 20px);
          transform: translate(calc(var(--widthLogo) / 2), 20px);
}

.card__reader {
  width: 50px;
  height: 40px;
  background: -webkit-radial-gradient(#d9a56c, #b18457);
  background: -o-radial-gradient(#d9a56c, #b18457);
  background: radial-gradient(#d9a56c, #b18457);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(33px, -40px);
      -ms-transform: translate(33px, -40px);
          transform: translate(33px, -40px);
}

.card__reader--risk {
  width: 50px;
  height: 40px;
  border-radius: 13px;
  background: transparent;
  border: 1px solid #666;
  position: absolute;
  z-index: 0;
}

.card__reader--risk-one {
  -webkit-transform: translate(37px, 15px);
      -ms-transform: translate(37px, 15px);
          transform: translate(37px, 15px);
}

.card__reader--risk-two {
  -webkit-transform: translate(15px, 30px);
      -ms-transform: translate(15px, 30px);
          transform: translate(15px, 30px);
}

.card__reader--risk-three {
  -webkit-transform: translate(-37px, -15px);
      -ms-transform: translate(-37px, -15px);
          transform: translate(-37px, -15px);
}

.card__reader--risk-four {
  -webkit-transform: translate(-15px, -30px);
      -ms-transform: translate(-15px, -30px);
          transform: translate(-15px, -30px);
}

.card__number {
  font-family: var(--font);
  font-size: 1.3em;
  font-weight: normal;
  color: var(--white);
  letter-spacing: 2.5px;
  text-align: center;
  margin-left: -20px;
  margin-top: 80px;
  z-index: 1;
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card__number::before,
.card__number::after {
  font-family: Arial;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.4em;
  position: absolute;
  letter-spacing: 0px;
}

.card__number::before {
  content: "5032";
  -webkit-transform: translate(15px, 25px);
      -ms-transform: translate(15px, 25px);
          transform: translate(15px, 25px);
}

.card__number::after {
  content: "Valid thru";
  width: 80px;
  -webkit-transform: translate(-215px, 25px);
      -ms-transform: translate(-215px, 25px);
          transform: translate(-215px, 25px);
}

.card__dates {
  position: absolute;
  width: 40%;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--white);
  font-family: var(--font);
  bottom: 20%;
  -webkit-transform: translate(60px, 0px);
      -ms-transform: translate(60px, 0px);
          transform: translate(60px, 0px);
}

.card__dates span {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card__name {
  font-family: var(--font);
  font-size: 1em;
  font-weight: normal;
  color: var(--white);
  letter-spacing: 2.5px;
  -webkit-transform: translate(35px, 25px);
      -ms-transform: translate(35px, 25px);
          transform: translate(35px, 25px);
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card__flag {
  right: 30px;
  top: 45%;
  border-radius: 25px;
  -webkit-transform: translate(0, -28px);
      -ms-transform: translate(0, -28px);
          transform: translate(0, -28px);
  position: absolute;
  height: 110px;
  width: 80px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__flag--globe {
  --margin: 5px;
  width: calc(100% - (var(--margin) * 2));
  background-color: #b7b2b8;
  height: 50%;
  border-radius: 20px;
  margin: var(--margin);
  background: -webkit-repeating-linear-gradient(
    bottom,
    #dbd1dc,
    #dbd1dc 5px,
    #b2aab5 7px,
    #b2aab5 5px
  );
  background: -o-repeating-linear-gradient(
    bottom,
    #dbd1dc,
    #dbd1dc 5px,
    #b2aab5 7px,
    #b2aab5 5px
  );
  background: repeating-linear-gradient(
    0deg,
    #dbd1dc,
    #dbd1dc 5px,
    #b2aab5 7px,
    #b2aab5 5px
  );
}

.card__flag--globe::after,
.card__flag--globe::before {
  content: "\f0ac";
  font-family: FontAwesome;
  color: rgba(0, 0, 0, 0.2);
  font-size: 3em;
  top: 6px;
  left: 2px;
  position: absolute;
}

.card__flag--globe::after {
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
}

.card__flag--globe::before {
  -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
          transform: translateX(25px);
}

.card__flag--red {
  position: absolute;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ce0e1d;
}

.card__flag--yellow {
  position: absolute;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e39833;
}

.card__flag--yellow::after {
  content: "MasterCard";
  position: absolute;
  font-size: 0.7em;
  top: 50%;
  -webkit-transform: translate(-25px, -7px);
      -ms-transform: translate(-25px, -7px);
          transform: translate(-25px, -7px);
  font-family: var(--masterFont);
  font-style: italic;
  font-weight: 800;
  color: var(--white);
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.assign {
  text-align: center;
  margin-top: 113px;
  font-family: var(--masterFont);
  color: #fff;
  font-size: 0.8em;
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.assign a {
  text-decoration: none;
  font-weight: 700;
  color: #FFF;
}

.assign a::hover {
  color: var(--purple);
}
